# core
tqdm
wandb
numpy
pandas
networkx
tabulate
configobj
gitpython
pretty-errors

pykeen==1.5.0
transformers==4.5.1
pytorch-lightning==1.2.10

# notes
jupyter
matplotlib

# dev
ipdb
black
flake8
autopep8
ipython

# self
-e .
